.chart {
  position: absolute; left: 0; top: 0; width: 100%; height: 100%;

  rect {
    &:nth-child(7n) {
      fill: rgb(230, 159, 0);
    }

    &:nth-child(7n+1) {
      fill: rgb(86, 180, 233);
    }

    &:nth-child(7n+2) {
      fill: rgb(0, 158, 115);
    }

    &:nth-child(7n+3) {
      fill: rgb(240, 228, 66);
    }

    &:nth-child(7n+4) {
      fill: rgb(0, 114, 178);
    }

    &:nth-child(7n+5) {
      fill: rgb(213, 94, 0);
    }

    &:nth-child(7n+6) {
      fill: rgb(204, 121, 167);
    }
  }

  text {
    text-anchor: middle;
  }

  line {
    stroke: black;
  }

  .zero {
    stroke: black;
    stroke-width: 1;
    opacity: 0.5;
  }

  .scatter-plot {
    circle {
      fill: white;
      stroke: black;
      stroke-width: 2;
      opacity: 0.5;

      &:hover {
        // opacity: 1;
      }
    }
  }
}
