@import "reset.scss";
@import "variables.scss";
@import "chart.scss";
@import "fonts.scss";
@import "forms.scss";
@import "source.scss";
@import "learn.scss";

$nav-height: 35px;
$total-nav-height: $nav-height + 4px;

@mixin page-colors($pure-color) {
  $light: lighten($pure-color, 40%);
  $mid: lighten($pure-color, 20%);

  nav {
    border-bottom: 4px solid $mid;
    background-color: #000;
    height: $nav-height;

    h1 {
      color: #fff;
    }
  }

  .help-bar {
    background-color: $mid;
  }

  button, .button {
    padding: 3px 7px;
    margin: 0 3px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: buttonface;
    cursor: pointer;
    outline: none;
  }

  button:hover, .button:hover {
    background-color: $pure-color;
    transition: background-color 0.2s ease;
  }

  aside {
    background-color: $mid;
    // background: linear-gradient(180deg, $mid, $light);
  }
}

.column-name {
  // border-bottom: 3px double;
  text-decoration: underline;
}

p {
  margin: 1em 0;
  line-height: 120%;
}

ul {
  list-style: square outside none;
  margin-left: 1em;
}

li {
  margin-bottom: 1em;
  line-height: 120%;
}

strong {
  font-weight: bold;
}

body, input, select, option {
  font-family: Lato;
  font-size: 11pt;
}

input:invalid {
  background-color: $light-red;
}

div.body-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  &.sources {
    @include page-colors($red);

    tr:nth-child(2n) {
      background-color: lighten($red, 40%);
    }
  }

  &.remix {
    @include page-colors($orange);

    .column {
      width: 100%;
      border-top: 1px dashed #444;
      &:first-child{ border: none; }

      font-size: 140%;
      padding: 1em 0;

      .name {
        width: 30%;
        display: inline-block;
      }

      select {
        font-size: 100%;
      }
    }

    .multiselect {
      .option:hover {
        background-color: $mid-orange;
      }
    }

    aside {
      .slot {
        .multiselect {
          margin-top: 6px;
        }
      }

      button, .button {
        cursor: pointer;
        padding: 0.6em;
        margin-right: 1em;
        text-transform: uppercase;
        display: inline-block;
        border: solid black 1px;
        border-radius: 5px;
        background-color: buttonface;
        font-size: 90%;

        &:hover {
          background-color: $orange;
          transition: background-color 0.2s ease;
        }

        &:focus {
          outline: none;
        }
      }

      .sub-menu {
        position: absolute;
        height: 100%;
        left: 5em; top: 0;
        border-left: 3px black solid;
        background-color: $mid-orange;
        width: 19em;
        z-index: 2;

        &::before {
          left: -6em;
          content: '<';
          opacity: 0.7;
          background-color: white;
          position: absolute;
          width: calc(6em - 3px);
          height: 100%;
        }
      }

      table {
        margin-bottom: 0.5em;
      }

      tr {
        border-bottom: 1px solid black;
        input:not([type=checkbox]) {
          min-width: 150px;
        }
      }

    }

    main {
      tr:nth-child(2n) {
        background-color: lighten($orange, 40%);
      }
    }
  }

  &.chart {
    @include page-colors($yellow);

    .multiselect {
      .option:hover {
        background-color: $mid-yellow;
      }
    }
  }

  &.analyze {
    @include page-colors($green);

    tr:nth-child(2n) {
      background-color: lighten($green, 40%);
    }

    .correlation-grid td {
      cursor: pointer;
    }
  }

  &.share {
    @include page-colors($blue);
  }

  &.indigo {
    @include page-colors($indigo);
  }

  &.learn {
    @include page-colors($purple);
  }

  .help-bar {
    display: none;
  }

  &.help {
    .help-bar {
      display: block;
      padding: 4px 1em;
      text-align: right;

      button {
        margin-left: 0.3em;
      }

    }
  }

}

// .sources-button {
//   padding: 3px 7px;
//   border: 1px solid transparent;
//   border-radius: 5px;
//   background-color: $mid-red;
//   cursor: pointer;
//   outline: none;
//   display: inline-block;
//   text-transform: uppercase;

//   user-select: none;
//   -moz-user-select: none;
//   -webkit-user-select: none;
//   -ms-user-select: none;
// }

div.main-container {
  flex: 1;
  display: flex;
  flex-direction: row;

  aside {
    position: relative;
    flex: 0 0 24em;
    padding: 1em 1em 0 1em;
    display: flex;
    flex-direction: column;

    .root-datasource {
      border: 3px black solid;
      padding: 0.5em;
    }

    .collector-list {
      flex: 1 1 auto;
      overflow: auto;
    }

    h2 {
      font-size: 120%;
      text-transform: uppercase;

      &.operation-title {
        text-decoration: underline;
        margin-bottom: 8px;
        width: 100%;
      }
    }

    h3 {
      padding: 0;
      text-transform: uppercase;
    }

    .operation-heading {
      position: relative;
      z-index: 3;

      .help-toggle {
        font: normal normal normal 18px/1 FontAwesome;
        float: right;

        &:hover ~ .help-container { display: block; }
      }

      .help-container {
        display: none;
        &.active { display: block; .help { background-color: rgba($mid-orange, 1); } }
        position: absolute;
        top: 0; left: calc(100% + 22px);

        .help {
          margin: -1em 0;
          padding: 1em;
          background-color: rgba($mid-orange, 0.9);
          min-width: 20em;
        }
      }

    }

    .slot-container {
      .remove {
        cursor: pointer;
        float: right;
        margin-top: 4px;
      }
    }

    .slot {
      padding: 4px 0;
      margin-bottom: 4px;
      z-index: 1;
      width: 100%;

      h3 {
        .remove {
          cursor: pointer;
          height: 1.2em;
          width: 1.2em;
          float: right;
          margin-top: -3px;

          &::before {
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f1f8";
          }
        }
      }
    }

    .multiselect {
      width: 100%;
      opacity: 1;

      .multiselect-content {
        background-clip: padding-box;
        background-color: buttonface;
      }
    }

    .collector-form {
      border: 1px black dotted;
      padding: 5px 5px 1px 5px;
      width: 100%;

      .collector-header .remove {
        cursor: pointer;
        height: 1.2em;
        width: 1.2em;
        float: right;
        // display: inline-block;

        &::before {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f1f8";
        }
      }

      & > div {
        margin: 10px 0;
      }
    }

    .aggregators {
      // border-top: 1px black dashed;
      padding: 0.5em 0;
    }

    .aggregator {
      padding: 0.5em;
      margin: 0.25em 0;
      border: 1px black dashed;
    }

    // .form {
    //   .aggregator {
    //     padding: 5px 0;

    //     .collector-form {
    //       border-left: 0;
    //       border-right: 0;

    //       h2 {
    //         display: none;
    //       }
    //     }
    //   }
    // }
  }

  main {
    padding: 1em;
    flex: 1;
    overflow-x: auto;
    position: relative;

    h1 {
      font-size: 200%;
    }

    h2 {
      font-size: 150%;
    }
  }

  th {
    font-weight: bold;
    text-align: left;
    padding: 0.4em;
    white-space: nowrap;

    .header {
      margin-right: 0.7em;
    }

    &.sortable {
      cursor: pointer;
    }

    .arrow {
      opacity: 0.3;
      font-size: 80%;
      padding-top: 3px;
    }

    &.asc .asc {
      opacity: 1;
    }

    &.desc .desc {
      opacity: 1;
    }
  }

  td {
    padding: 0.4em;
    // font-family: "Oswald";

    &.numeric {
      text-align: right;
    }
  }
}

nav {
  display: flex;

  h1 {
    // &::after {
    //   font: normal normal normal 18px/1 FontAwesome;
    //   content: " \f059 \f2c2";
    // }
    font-size: 140%;
    display: inline-block;
    padding: 0.3em 1em;
    flex: 0;
    white-space: nowrap;
    order: 1;
  }

  .help-toggle {
    order: 3;
    padding-top: 0.5em;
    cursor: pointer;

    &::after {
      font: normal normal normal 18px/1 FontAwesome;
      content: "\f059";
      // content: " \f059 \f2c2";
      padding: 0.3em 1em;
      color: white;
    }
  }

  .help {
    &::before {
      content: "\f059";
    }
    font-size: 140%;
    flex: 0;
    order: 4;
    min-width: 1em;
    padding: 0.3em 0.5em;
    color: white;
    cursor: pointer;
    // display: none;
  }

  a {
    text-align: center;
    display: inline-block;
    font-size: 140%;
    padding: 0.4em 1em 0.3em 1em;
    cursor: pointer;
    flex: 1;
    order: 2;
    text-transform: capitalize;
  }

  a:nth-child(6n + 2) {
    background-color: $light-red;
    &:hover { background-color: $mid-red; }
    &.selected { background-color: $mid-red; }
  }
  a:nth-child(6n + 3) {
    background-color: $light-orange;
    &:hover { background-color: $mid-orange; }
    &.selected { background-color: $mid-orange; }
  }
  a:nth-child(6n + 4) {
    background-color: $light-yellow;
    &:hover { background-color: $mid-yellow; }
    &.selected { background-color: $mid-yellow; }
  }
  a:nth-child(6n + 5) {
    background-color: $light-green;
    &:hover { background-color: $mid-green; }
    &.selected { background-color: $mid-green; }
  }
  a:nth-child(6n + 0) {
    background-color: $light-blue;
    &:hover { background-color: $mid-blue; }
    &.selected { background-color: $mid-blue; }
  }
  a:nth-child(6n + 1) {
    background-color: $light-purple;
    &:hover { background-color: $mid-purple; }
    &.selected { background-color: $mid-purple; }
  }
}

.page-controls {
  padding-top: 4px;

  button, .button {
    padding: 3px 7px;
    margin: 0 3px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &.disabled {
      opacity: 0.3;
    }

    &.selected {
      border: 1px solid #999;
    }

    &:not(.selected) {
      &:hover {
        border: 1px solid #333;
      }
    }
  }
}

.collector {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 110%;

  .collector-controls {
    button, .button {
      margin-right: 0.5em!important;
    }
  }

  .definition {
    padding: 0 1em;

    &::before {
      float: left;
      width: 1.2em;
      height: 1.2em;
      margin-right: 4px;
      opacity: 0.7;
    }

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .remove {
    cursor: pointer;
  }

  &.editing {
    border: 1px black solid;
  }

  &:not(.editing) {
    display: flex;

    .definition {
      flex: 1;
    }

    .controls {
      flex: 0 0 auto;
      visibility: hidden;

      .edit {
        cursor: pointer;
        height: 1.2em;
        width: 1.2em;
        display: inline-block;
        margin-right: 0.1em;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }

        &::before {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f040";
        }
      }

      .remove {
        height: 1.2em;
        width: 1.2em;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }

        &::before {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f1f8";
        }
      }
    }

    &:hover {
      .controls {
        visibility: visible;
      }
    }
  }

  // button, .button {
  //   padding: 7px;
  //   margin: 0 3px;
  //   border: 2px solid #000;
  //   border-radius: 2px;
  //   background-color: rgba(255,255,255,0.8);
  //   cursor: pointer;
  //   outline: none;
  //   text-transform: uppercase;

  //   user-select: none;
  //   -moz-user-select: none;
  //   -webkit-user-select: none;
  //   -ms-user-select: none;

  //   &:hover {
  //     background-color: transparent;
  //   }
  // }
}


.multiselect {
  position: relative;
  min-height: 1.6em;
  z-index: 2;

  .multiselect-content {
    left: 0; right: 0; top: 0;
    position: absolute;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 4px;

    &::before {
      float: right;
      content: '▾';
      padding: 4px;
    }


    .placeholder {
      overflow: hidden;
      white-space: nowrap;
      margin-right: 1em;
      text-overflow: ellipsis;
    }

    .option, .placeholder {
      padding: 4px;
    }
  }

  .options {
    display: none;
    z-index: 3;

    .option {
      cursor: pointer;

      .check {
        display: inline-block;
        float: left;
      }

      .value {
        margin-left: 1em;
      }

      &:hover {
        background-color: #888;
      }
    }
  }

  &:focus {
    outline: none;

    .options {
      display: block;
    }
  }
}

.toggle {
  & > .closed { display: inherit; }
  & > .open { display: none; }

  &.open {
    & > .closed { display: none; }
    & > .open { display: inherit; }
  }
}

.remix-controls {
  flex: 0 1 2em;
  // border-bottom: 3px solid black;
  // border-top: 3px solid black;

  .operations-menu-container {
    display: none;
    &.active { display: block; }
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: $total-nav-height;
    z-index: 2;

    .operations-menu {
      display: flex;
      height: 100%;

      .close-mask {
        width: 6em;
        float: left;
        text-align: center;
        cursor: pointer;

        i {
          font-size: 2em;
          color: white;
        }
      }

      .menu {
        background-color: $mid-orange;

        h1 {
          font-size: 130%;
          text-transform: uppercase;
          padding: 0.5em 0.5em 1em;
        }

        ul {
          list-style: none;
          margin-left: 0;
        }

        li {
          margin-bottom: 1em;
          line-height: 120%;
          padding: 0.25em 3em;
          cursor: pointer;
          position: relative;

          .help {
            position: absolute;
            display: none;
            left: 100%;
            top: 0;
            background-color: rgba($mid-orange, 0.9);
            padding: 1em;
            margin-top: -1em;
            min-width: 20em;
          }

          &:hover {
            .help {
              display: block;
            }
          }

        }

        .operation {
          text-transform: uppercase;
        }

      }
    }
  }

  &.active {
    .menu { display: block; }
    .new-operation-button::after { transform: rotate(0.25turn); }
  }

  .save-as-source.open {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px black solid;

    .action { padding-top: 0; }
    .action::after { transform: rotate(0.25turn); }
  }

  .action {
    cursor: pointer;
    padding: 1em 0;
    text-transform: uppercase;
    width: 100%;

    &::after {
      transition: transform 0.2s;
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f054";
      float: right;
    }
  }

  &.disabled {
    display: none;
  }
}

.actions-container {
  .toggle-actions-button {
    cursor: pointer;
    padding: 1em 0;
    text-transform: uppercase;
    width: 100%;

    &::after {
      transition: transform 0.2s ease-in-out;
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f054";
      float: right;
    }
  }

  &.open {
    .toggle-actions-button::after { transform: rotate(0.25turn); }
  }
}

.share {
  h2 {
    padding-bottom: 1em;
    padding-top: 1em;

    &:first-child {
      padding-top: 0;
    }
  }
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;

  &.padded { padding-right: 1em; }

  &.fa-trash::before { content: "\f1f8"; }
  &.fa-add::before { content: "\f067"; }
  &.fa-times-circle::before { content: "\f057"; }
  &.fa-question-circle::before { content: "\f059"; }
}

.collector-filter::before {
  content: "\f0b0";
  font: normal normal normal 14px/1 FontAwesome;
}

.collector-deriver::before {
  content: "\f067";
  font: normal normal normal 14px/1 FontAwesome;
}

.collector-aggregator::before {
  content: "\f013";
  font: normal normal normal 14px/1 FontAwesome;
}

.collector-generic::before {
  content: "\f013";
  font: normal normal normal 14px/1 FontAwesome;
}

.collector-grouping::before {
  content: "\f247";
  font: normal normal normal 14px/1 FontAwesome;
}

.collector-save::before {
  content: "\f0c7";
  font: normal normal normal 14px/1 FontAwesome;
}

.collector-download::before {
  content: "\f019";
  font: normal normal normal 14px/1 FontAwesome;
}

.collector-columns::before {
  content: "\f0db";
  font: normal normal normal 14px/1 FontAwesome;
}
