aside.source {
  h2 {
    font-size: 120%;
    text-transform: uppercase;
  }
}

main.source {
  .colgroup {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;

    & > div {
      flex: 1;
      padding: 0 1em;
    }
  }

  h1 {
    font-size: 140%;
  }

  h2 {
    font-size: 120%;
    padding-bottom: 1em;
  }
}
