aside.source {
  .new-source {
    width: 100%;
    cursor: pointer;
    padding: 1em 0;
    text-transform: uppercase;
  }

  .source {
    padding: 1em 0;
    cursor: pointer;
    clear: both;

    &::before {
      content: "\f1c0";
      font: normal normal normal 14px/1 FontAwesome;
      display: inline-block;
      font-size: 200%;
      min-height: 2em;
      padding-right: 0.5em;
      float: left;
    }
  }

  .active {
    // background: linear-gradient(90deg, #f66, white);
    background-color: white;
    margin-left: -1em;
    padding-left: 1em;
    position: relative;

    &::after {
      content: ' ';
      width: 1em;
      background-color: white;
      position: absolute;
      right: -1em;
      top: 0;
      bottom: 0;
    }
  }

  h2 {
    font-size: 120%;
    text-transform: uppercase;
  }
}

main.source {
  .colgroup {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;

    & > div {
      flex: 1;
      padding: 0 1em;
    }
  }

  h1 {
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 120%;
    padding-bottom: 1em;
  }
}
