aside.source {
  .source {
    margin-top: 1em;

    &::before {
      content: "\f1c0";
      font: normal normal normal 14px/1 FontAwesome;
      display: inline-block;
      font-size: 200%;
      min-height: 2em;
      padding-right: 0.5em;
      float: left;
    }
  }

  h2 {
    font-size: 120%;
    text-transform: uppercase;
  }
}

main.source {
  .colgroup {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;

    & > div {
      flex: 1;
      padding: 0 1em;
    }
  }

  h1 {
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 120%;
    padding-bottom: 1em;
  }
}
