$red: #ff0000;
$orange: #ff7f00;
$yellow: #ffff00;
$green: #00ff00;
$blue: #0000ff;
$indigo: #4b0082;
$purple: #8b00ff;

$dark-red: darken($red, 20%);
$dark-orange: darken($orange, 20%);
$dark-yellow: darken($yellow, 20%);
$dark-green: darken($green, 20%);
$dark-blue: darken($blue, 20%);
$dark-indigo: darken($indigo, 20%);
$mid-purple: darken($purple, 20%);

$mid-red: lighten($red, 20%);
$mid-orange: lighten($orange, 20%);
$mid-yellow: lighten($yellow, 20%);
$mid-green: lighten($green, 20%);
$mid-blue: lighten($blue, 20%);
$mid-indigo: lighten($indigo, 20%);
$mid-purple: lighten($purple, 20%);

$light-red: lighten($red, 40%);
$light-orange: lighten($orange, 40%);
$light-yellow: lighten($yellow, 40%);
$light-green: lighten($green, 40%);
$light-blue: lighten($blue, 40%);
$light-indigo: lighten($indigo, 40%);
$light-purple: lighten($purple, 40%);
